* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
  --main-color: lightblue;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  min-width: 500px;
  max-width: 800px;
  padding: 0.5rem 2rem 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flex-end-container {
  display:flex;
  justify-content: flex-end;
  width: 100%;
}

#submit {
  display: block;
  margin: 1rem auto 1rem;
}

.task {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

button {
  padding: 0.2rem;
}

.margin-b1 {
  margin-bottom: 1rem;
}

.margin-t1 {
  margin-top: 1rem;
}

.margin-r1 {
  margin-right: 1rem;
}

.signup-label {
  width: 12rem;
}

.color-red {
  color: red;
}

.btn-gradient-radius {
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #6795fd 0%, #67ceff 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #6795fd 0%, #67ceff 100%);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-logout-align {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}